---
hero_image: true
layout: default
title: Carpenter Farm Supply Co
subtitle: Since 1885
---

<div class="container">
	<div class="row">
		<h2 style="color:darkgreen">Current Featured Products!</h2>

	</div>
	<div class="row" style="margin-bottom:30px;">
		<div class="responsive">
			<div class="gallery">
				<a target="_blank" href="/assets/img/pumpkins.png">
					<img src="/assets/img/pumpkins.png" alt="CFS Pumpkin">
				</a>
				<div class="desc">Home Grown Pumpkins and Watermelons!</div>
			</div>
		</div>
		<div class="responsive">
			<div class="gallery">
				<a target="_blank" href="/assets/img/tractor_pumpkins.png">
					<img src="/assets/img/tractor_pumpkins.png" alt="CFS Pumpkin">
				</a>
				<div class="desc">Home Grown Pumpkins and Watermelons!</div>
			</div>
		</div>
	</div>
	
	{% comment %}
	Now, we're going to iterate over the data in the featured.yml file.
	featured.yml is an array with items which have the structure of:
		title: str
		items: array
	
	Elements in the items array are expected to be a string, or have a structure of:
		title: str
		subitems: array<str>
	{% endcomment %}
	
	{% for featured_item in site.data.featured %}

	{% comment %}
	Store a modulo'd value of the index so we know if we need to make a new row.
	{% endcomment %}
	{% assign row = forloop.index0 |modulo: 3 %}

	{% comment %}
	If row is 0, make a new row.
	{% endcomment %}
	{% if row == 0 %}<div class="row" style="margin: 30px 0;">{% endif %}
		<div class="col-lg">
			<div class="card h-100" style="padding-bottom:30px;">
				<div class="card-body">
					<h4 style="color: darkgreen;">{{ featured_item.title }}</h4>
					{% if featured_item.items %}
					<ul style="padding-left: 0; list-style-type: none;">
					{% for item in featured_item.items %}
						{% if item.title %}
						<li>- {{ item.title }}
							{% if item.subitems %}
							<ul style="list-style-type: none;">
								{% for subitem in item.subitems %}
								<li>- {{ subitem }}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% else %}
						<li>- {{ item }}</li>
						{% endif %}
					{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	{% comment %}
	If we on the last element, close the row div.
	{% endcomment %}
	{% if row == 2 or forloop.last %}</div>{% endif %}
	{% endfor %}
</div>